:root{
    --primary : rgb(4,181,194);
    --secondary : rgb(82, 65, 126);

    --darkblue : #075182;
    --darkblue2 : rgba(148, 183, 206, 0.565);

    --pink : rgba(211, 32, 56, 0.863);
    --lightpink : rgb(255, 0, 55);

    --violet : #8c52ff;
    --darkviolet : #6c36d7;

    --navy : rgb(0, 65, 196);
    --blue :  rgb(19, 143, 192);

    --lightviolet : rgb(140, 109, 213);
    --lightviolet2 : rgb(170,145,226);

    --orange : #f78400;

}




a{
    text-decoration: none;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::placeholder{
    color: rgba(203, 199, 194, 0.986);
    opacity: .7;
}

body{
    color: rgb(6, 94, 129);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}
/* Header Section */
header{
    padding: 20px;
    background-color: var(--primary);

}
nav{
    margin-left: 100px !important;
    margin-right: 90px !important;

    color: white;

    display: flex;
    padding: 10px;

    margin: auto;
    align-items: center;

    justify-content: space-between;
}
nav h1{
    font-style: italic;
    font-size: 2.3rem;
}
.icon-home{
    font-size: 3rem;
}


.avatar-driver{
    width: 70px;
    background: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 40px;
}

.name-header{
    font-size: 1.8rem;
    margin-right: 20px;
    transition: all .5s ease;

    color: whitesmoke;
}
.name-header:hover{
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;

}
.info-top-div{
    text-align: center;
}
.level-header{
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .5s ease;
}
.level-header:hover{
    font-weight: bold;
    cursor: pointer;
}

.dropdown-arrow{

    margin-left: 20px;
    text-align: center;

    font-size: 1.2rem;
    cursor: pointer;
    
    position: relative;
}

.menu-container:checked .dropdown-menu {
    background-color: #8c52ff;
    cursor: pointer;
   
    display: block;
}

.menu-container{
    display: flex;

    align-items: center;

    padding: 10px;

    position: relative;
}
.dropdown-menu{
    display: flex;

    
    position: absolute;
    top: 135px !important;
    right: -50px !important;

    font-size: 1.2rem;
    color: whitesmoke;

    background: var(--violet);


    text-align: center;
    align-items: center;
    justify-content: center;

    width: 250px;
    
    border-radius: 5px;

    display: none;

    transform-origin: top center;
    animation: translateX 300ms ease-in-out forwards;

}

.logout{
    border-bottom: transparent !important;
}
.add-jrn{
    border-top: transparent !important;
}



@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  
  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dropdown-menu-list{
    list-style: none;

    line-height: 2rem;

    text-align: center;

    width: 100%;

}
.dropdown-menu-list li{
    padding: 12px;
    width: 100%;

    transition: all .4s ease;

    border-top: .5px solid rgba(255, 255, 255, 0);
    border-bottom: .5px solid rgba(255, 255, 255, 0.228);

}

.dropdown-menu-list li:hover{
    background-color: rgba(255, 255, 255, 0.292);
    text-shadow: 0px 0px 5px white;
    padding: 15px;

    border-top: .5px solid rgb(255, 255, 255);
    border-bottom: .5px solid rgb(255, 255, 255);

    cursor: pointer;
}

.dropbtn{

    margin-left: 20px;
}

.dropbtn:hover{

    cursor: pointer;


}
.show{
    display: block !important;
    z-index: 9999;
}
.hide{
    display: none !important;
}
.signup{
    text-decoration: none !important;

    background: linear-gradient(90deg, hsla(260, 100%, 66%, 1) 0%, hsla(184, 96%, 39%, 1) 100%);
    transition: background 0.2s ease;

    background-size: 450% 450%;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.signup:hover{
    color: white;
    background-color: var(--darkviolet) !important;
    
    animation: gradientAnimation 5s infinite;

    border: 1px solid transparent !important;
    border-bottom: 1px solid white !important;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }





/* End of header section */




/* Profile */
section{

    margin-top: 75px !important;
    display: flex;

    margin: auto;
    justify-content: space-evenly;
    padding: 20px;

    margin-bottom: 200px;

}
.hero-div{
    background: linear-gradient(#DDD6E8, #EDEAF3,#FFFFFF );
    height: 670px;
}

.img{
    margin: auto;
    display: flex;
    justify-content: center;

    width: 1000px;

}



h2{
    font-size: 2.7rem !important;
    text-align: center !important;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--darkblue);
    padding-bottom: 20px;
    animation: par 1s ease;
}
.h2{
    margin-left: 70px;

    border-bottom: 1px solid var(--darkblue);
    padding-bottom: 20px;
}


.left-side p{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;

    text-align: right;
    transition: all .5s ease;
    animation: par 1s ease;
}
.name, .email, .phone, .experience, .certified, .delays, .level{

    margin: auto;

    font-size: 1.7rem;

    border: 4px solid var(--primary);
    border-radius: 30px;

    padding: 15px;
    font-weight: 500;

    text-align: left;
    display: inline-flex;
    width: 500px;

    transition: all .5s ease;
}

span:hover{
    border: 4px solid var(--violet);
    box-shadow: 0px 0px 20px var(--darkviolet);

    font-weight: bold;
    color: var(--violet);
}
p:hover {
    color: var(--violet);
}
@keyframes par {
    0% {
        opacity: 0;
        transform: translateY(40px);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
  }


/* end */


.row{
    display: flex;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    height: 50px;
    align-items: center;

}

.row p{
    border: 1px solid white;
    background-color: #e2d6ffc6;
    font-weight: bold;
    padding: 15px;
    color: rgb(19, 55, 113);
    width: 150px;
    border-radius: 5px;
}

.row button{
    color: white;
    background-color: var(--blue);
    
    border: none;
    border-radius: 20px;

    padding: 15px;

    width: 100px;

    margin-left: 21px;

    font-weight: bold;
}

.newjourbtn{
    color: white;
    background-color: var(--blue);
    
    border: none;
    border-radius: 20px;

    padding: 12px;

    width: 200px;
    font-size: 1.2rem;
    font-weight: bold;

    margin: auto;
    justify-content: center;
    display: flex;

    margin-bottom: 20px;
}
.newjourbtn:hover{
    cursor:pointer;
}


/* Footer */
footer{

    width: 100%;

    margin-top: 100px;

    display: grid;

    padding: 50px;

    align-items: center;
    justify-content: space-around;

    background-color: var(--darkblue);

    color: white;

    grid-template-columns: auto auto auto;
}

footer a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    
    
}

footer a:hover{
    text-shadow: 0px 0px 10px white;
                
}

footer h3{
    margin-bottom: 15px;
}
footer p, a{
    margin-bottom: 6px;
}
/* End Footer */



.message a{
    color: var(--pink) !important;

    font-size: 1.6rem;  
    font-weight: bold;

}
.signup-link, .login-link{
    display: inline-block;
    border: 3px solid transparent;
    margin-left: 10px;
    transition: border .5s ease-in;

    border-radius: 20px;

    padding: 10px;

    width: 150px;

    text-align: center;
}
.login-link{
    margin-right: 10px;
}
.message:hover{
    color: var(--darkblue);
}


.signup-link:hover, .login-link:hover{
    border: 3px solid var(--lightpink);
    border-radius: 20px;
}

.skill-list-hover{
    position: relative;
}
.skill-list{
    position: absolute;

    z-index: 999;

    padding: 20px;

    background-color: rgb(211, 206, 206);

    color: white;

    top: 695px;
    right: 400px;

    border-radius: 20px;

    text-align: left !important;

    width: 580px;
    height: 310px;

    animation: skill 1s ease;

    display: none;
    
}

@keyframes skill {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.skill-list li{
    list-style: none;
    align-items: baseline;

    font-size: 13px;

    line-height: 1.8rem;

    font-weight: 550;
    transition: all .5s ease;
}
.skill-list ul{
    padding-top: 5px;
}
.skill-list li:hover{

    padding-left: 20px;
    cursor: pointer;

    font-weight: bold;

    font-size: 15px;
}
.novice {
    color: #075182; /* Dark Blue */
    
  }


.beginner {
  color: rgb(255, 0, 55); /* Light Pink */
}

.intermediate {
  color: rgb(140, 109, 213); /* Light Violet */
}

.proficient {
  color: #6c36d7; /* Dark Violet */
}

.experienced {
  color: rgb(4,181,194); /* Primary Color */
}

.seasoned {
  color: #800080; /* Purple */
}

.expert {
  color: rgb(211, 32, 56); /* Pink */
}

.veteran {
  color: #cc8602; /* Orange */
}

.hover-container:hover .skill-list,
.skill-list:hover {
    cursor: pointer;
    display: block;
}
