:root{
    --primary : rgb(4,181,194);
    --secondary : rgb(82, 65, 126);

    --darkblue : rgb(2, 63, 104);
    --navy : rgb(0, 65, 196);
    --blue :  rgb(19, 143, 192);

    --pink : rgba(211, 32, 56, 0.863);
    --lightpink : rgb(255, 0, 55);

    --lightviolet : rgb(140, 109, 213);
    --violet : #8c52ff;
    --lightviolet2 : rgb(170,145,226);

    --orange : #FF930F;

}
a{
    text-decoration: none;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
::placeholder{
    color: rgba(17, 15, 15, 0.721);
    opacity: .7;
}



/**************************/

body{

    color: var(--blue);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}
/* Header Section */
header{
    padding: 20px;
    background-color: var(--primary);

}
nav{
    margin-left: 100px !important;
    margin-right: 90px !important;

    color: white;

    display: flex;
    padding: 10px;

    margin: auto;
    align-items: center;

    justify-content: space-between;
}
nav h1{
    font-style: italic;
    font-size: 2.3rem;
}
.icon-home{
    font-size: 3rem;
}

/* End of header section */


.hero-div{
    background: linear-gradient(#DDD6E8, #EDEAF3,#FFFFFF );
    height: 670px;
}

.register-section{
  width: 100%;
}
.register-section img{
    width: 1200px;
    margin: auto;
    display: flex;
}


/* Register title */
h2{

    border-top: 1px solid var(--lightviolet);

    margin: auto;
    justify-content: center;
    display: flex;
    width: 600px;

    margin-bottom: 60px;
    padding-top: 60px;

    font-size: 3rem;
}
/* end register title */



.register-div {

    display: flex;
    justify-content: center !important;
    margin: auto !important;
    margin: 20px;

    font-size: 2rem;

}




/* name, email, phone inputs*/
input[type='radio'] {
    height: 20px;
    width: 20px;

    margin-right: 20px;

    accent-color: var(--lightviolet);

    transition: all 0.5s ease;

    cursor: pointer;
}

input[type='radio']:focus{
    color: #8c52ff;
}

.register-type-div{

    display: flex;
    justify-content: center;
    margin: auto;
    
    text-align: center;
    align-items: center;

}

.passenger-label{
    margin-right: 100px;
}

.register-info-div input{
    
    color: rgb(4, 120, 166);

    font-weight: 550;

    display: flex;
    justify-content: center;
    margin: auto;
    

    font-size: 1.7rem;

    border-radius: 30px;

 
    padding: 20px;
    width: 700px;

    border: 3px solid var(--primary);

    transition: all 0.6s ease;
}


#name:focus , #phone:focus, #email:focus{
    box-shadow: 0px 0px 20px var(--lightviolet);
    outline-style: none;
    border: 3px solid var(--lightviolet);

    color: rgb(170, 134, 250);
}
label{
    transition: all 0.5s ease;
}
input:checked + label{
    font-weight: bold;
    color: #8c52ff;
}

#name{
    margin-top: 45px;
}

/* end name, email, phone inputs */









/* password input and show/hide eye */
.password {

    display: flex;
    justify-content: center;
    margin: auto;
    width: 700px;
    
    padding-right: 10px;
    padding-left: 10px;
    
    border-radius: 30px;
    border: 3px solid var(--primary);
    
    margin-bottom: 50px;

    transition: all 0.5s ease;
}
.password:focus-within{
    box-shadow: 0px 0px 20px var(--lightviolet);
    border: 3px solid var(--violet);
}
.password input{
    border: none;
}
.password img{
    margin-right: 30px;
    transition: all 0.5s ease;
}
.password input:focus{
    outline: none;
    color: var(--lightviolet2);
}

#eyeicon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    
}
/* end password input */





/* sumbit button */
.submit-btn{
    display: flex;
    justify-content: center;
    margin: auto;

    padding: 20px;

    width: 700px;

    border-radius: 25px;
    
    font-size: 1.8rem;
    font-weight: bold;

    background-color: var(--lightviolet);

    color: white;

    border: 3px solid transparent;

    transition: all 0.7s ease;
}
.submit-btn:hover{

    color: #ffffff;

    box-shadow: 0px 0px 40px var(--lightviolet);

    cursor: pointer;

    background-color: rgb(150, 125, 210);

    border: 3px solid var(--violet);
}
/* end submit button */



/* Footer */
footer{

    width: 100%;

    margin-top: 100px;

    display: grid;

    padding: 50px;

    align-items: center;
    justify-content: space-around;

    background-color: var(--darkblue);

    color: white;

    grid-template-columns: auto auto auto;
}

footer a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    
    
}

footer a:hover{
    text-shadow: 0px 0px 10px white;
                
}

footer h3{
    margin-bottom: 15px;
}
footer p, a{
    margin-bottom: 6px;
}
/* End Footer */
