:root{
    --primary : rgb(4,181,194);
    --secondary : rgb(82, 65, 126);

    --darkblue : rgb(7, 81, 130);
    --darkblue2 : rgba(148, 183, 206, 0.565);

    --pink : rgba(211, 32, 56, 0.863);
    --lightpink : rgb(255, 0, 55);

    --violet : #8c52ff;
    --darkviolet : #6c36d7;

    --navy : rgb(0, 65, 196);
    --blue :  rgb(19, 143, 192);

    --lightviolet : rgb(140, 109, 213);
    --lightviolet2 : rgb(170,145,226);

    --orange : #FF930F;

}




a{
    text-decoration: none;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::placeholder{
    color: rgba(203, 199, 194, 0.986);
    opacity: .7;
}

body{

    color: rgb(6, 94, 129);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}




/* Header Section */
header{
    padding: 20px;
    background-color: var(--primary);

}
nav{
    margin-left: 100px !important;
    margin-right: 90px !important;

    color: white;

    display: flex;
    padding: 10px;

    margin: auto;
    align-items: center;

    justify-content: space-between;
}
nav h1{
    font-style: italic;
    font-size: 2.3rem;
}
.icon-home{
    font-size: 3rem;
}


.avatar-passenger{
    width: 70px;
    background: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 40px;
}

.name-passenger{
    font-size: 1.8rem;
    margin-right: 20px;
    transition: all .5s ease;
}
.name-passenger:hover{
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;

}

.stops-div{
    margin: 0px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.3rem;

    padding-left: 4px;
}

.arr-loc{
    margin-top: 55px;
}
.arr-loc-with2{
    margin-top: 15px;
}
.arr-loc-with1{
    margin-top: 35px;
}



.avatar-driver{
    width: 70px;
    background: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 40px;
}
.name-header{
    font-size: 1.8rem;
    margin-right: 20px;
    transition: all .5s ease;

    color: whitesmoke;
}
.name-header:hover{
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;

}
.info-top-div{
    text-align: center;
}
.level-header{
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .5s ease;
}
.level-header:hover{
    font-weight: bold;
    cursor: pointer;
}


.dropdown-arrow{

    margin-left: 20px;
    text-align: center;

    font-size: 1.2rem;
    cursor: pointer;
    
    position: relative;
}

.menu-container:checked .dropdown-menu {
    background-color: #8c52ff;
    cursor: pointer;

    display: block;
}

.menu-container{
    display: flex;

    align-items: center;

    padding: 10px;

    position: relative;
}
.dropdown-menu{
    display: flex;

    
    position: absolute;
    top: 135px !important;
    right: -50px !important;

    font-size: 1.2rem;
    color: whitesmoke;

    background: var(--violet);


    text-align: center;
    align-items: center;
    justify-content: center;

    width: 250px;
    
    border-radius: 5px;

    display: none;

    transform-origin: top center;
    animation: translateX 300ms ease-in-out forwards;

}



@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  
  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dropdown-menu-list{
    list-style: none;

    line-height: 2rem;

    text-align: center;

    width: 100%;

}
.dropdown-menu-list li{
    padding: 12px;
    width: 100%;

    transition: all .4s ease;

    border-top: .5px solid rgba(255, 255, 255, 0);
    border-bottom: .5px solid rgba(255, 255, 255, 0.228);

}

.dropdown-menu-list li:hover{
    background-color: rgba(255, 255, 255, 0.292);
    text-shadow: 0px 0px 5px white;
    padding: 15px;

    border-top: .5px solid rgb(255, 255, 255);
    border-bottom: .5px solid rgb(255, 255, 255);

    cursor: pointer;
}

.dropbtn{

    margin-left: 20px;
}

.dropbtn:hover{

    cursor: pointer;


}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}
.signup{
    text-decoration: none !important;

    background: linear-gradient(90deg, hsla(260, 100%, 66%, 1) 0%, hsla(184, 96%, 39%, 1) 100%);
    transition: background 0.2s ease;

    background-size: 450% 450%;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.signup:hover{
    color: white;
    background-color: var(--darkviolet) !important;
    
    animation: gradientAnimation 5s infinite;

    border: 1px solid transparent !important;
    border-bottom: 1px solid white !important;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* End of header section */


/*Search Section */

  
  .search-home-section input{
  
      cursor: pointer;
  
      color: white;
  
      border: none;
  
      text-align: center;
  
      font-size: 1.5rem;
      background-color: transparent;
  
      width: 100px;
      margin: 0px;
      padding: 0px;
  
      margin-left: 20px;
  
      border-right: 2px solid rgba(255, 255, 255, 0.5);
  }
  input:focus{
      outline: none;
      
  }
  
  .passenger{
      border-right: transparent !important;
      margin-right: -10px !important;
  }
  
  .input-form{
  
      background-color: var(--darkblue);
      /*background-color: rgb(0, 82, 189);*/
      box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.575);
      text-align: center;
  
      margin: auto;
      padding: 25px;
  
      border-radius: 40px;
  
      align-items: baseline;
  
      margin-right: -80px;
      z-index: 1000;
  
      transition: all 2s ease;
  
  }
  .input-form:hover{
      
      box-shadow: 0px 0px 30px var(--lightblue);
  }
  .input-div{
  
      text-align: center;
  
      padding: 5px;
  
      margin-top: -40px !important;
      margin: auto;
      
      width: fit-content;
      
      position: sticky;
    
     
      
      display: flex;
      justify-content: center;
  }
  
  .search-button{
      box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.575);
  
      color: white;
      padding: 21px;
      padding-left: 100px;   
          
      font-size: 1.5rem;
  
      border: none;
      background-color: var(--pink);
  
      border-radius: 40px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  
      padding-right: 40px;
  
      transition: all 1s ease;
  }
  .search-button:hover{
  
      box-shadow: 0px 0px 0px;
  
      color: rgba(255, 255, 255, 0.856);
      cursor: pointer;
  
      background-color: var(--lightpink);
  }
  /*End of search section */











/* Right Side*/
h2{
    margin: auto;
    justify-content: center;
    display: flex;

    margin-top: 110px;
    font-size: 2.5rem;
    letter-spacing: 2px;

    margin-bottom: -100px;

    margin-left: 84px;
}
.trip-card{
    
    z-index: -1;
    position: relative;

    font-weight: bold;

    border-radius: 15px;

    padding: 20px;

    font-size: 1rem;

    border: 3px solid rgb(5, 123, 202);
    background-color: rgb(4, 81, 119);
    color: white;

    width: 500px;
    height: 220px;

    margin-top: 150px;
    margin-bottom: -20px;

}

.trip-card-top, .trip-card-bottom{
    display: flex;
}

.trip-card-bottom{

    margin: auto;
    display: flex;
    justify-content: space-around;

    font-size: 1.3rem;
    margin-top: 50px;

    gap: 180px;

}




.location{

    margin-left: 10px;

}
.location p{
    margin-left: 5px;

}
.dot1, .dot2{
    width: 8px;
    height: 8px;

    position: absolute;

    background-color: rgb(224, 102, 224);

    border-radius: 20px;
}
.dot1{

    top: 28px;
    left: 79px;
}
.dot2{

    top: 102px;
    left: 79px;
}
.vline{

    border-left: 2px solid rgb(255, 255, 255);
    height: 75px;
    position: absolute;

    top: 33px;
    left: 82px;
  
}
.hours{
    margin-top: 15px;
    margin-right: 25px;
    font-size: 0.8rem;
}
.departure{
    margin-bottom: 6px;
}
.duration{
    margin-top: 10px;
    margin-bottom: 15px;
    opacity: .7;
}


.loc-dep{
    font-size: 0.9rem;
}


.car-name{

    display: flex;


    margin-right: 70px;

    font-weight: bold;
    font-size: 1.4rem;

    align-items: flex-end;

}

.bus-icon{
    width: 50px;
    justify-content: left !important;

    background-color: #f7020245;
    padding: 6px;
    border-radius: 35px;
    
    height: 70px;
    width: 70px;
    
    margin-right: 30px;

    margin-bottom: -20px;    

}

.trip-card:focus{
    box-shadow: 0px 0px 20px var(--blue);
}

section{
    display: grid;
    justify-content: center;
    margin: auto;

    grid-template-columns: auto auto auto;

    align-items: flex-end;

    margin-bottom: 100px;
}



.option-title{
    margin-left: 50px;
    font-size: 1.4rem;
}





section button{
    transition: all .5s ease;
    border: 2px solid transparent;

    padding: 12px;
    font-size: 1.2rem;
    font-weight: bold;


    color: white;

    background-color: var(--primary);

    width: 270px;

    border-radius: 18px;

}

.left-info, .right-info{

    margin: auto;
    justify-content: center;

    font-weight: bold;
    line-height: 2rem;

}

.right-info{
    margin-left: 60px;
}


.btns {
    
    padding: 5px;
    margin: auto;
    justify-content: center;

    margin-top: 40px;

    position: relative;

}
.btn-1{

    margin-bottom: 120px;
}

button:hover{
    cursor: pointer;
    background-color: rgba(4, 181, 194, 0.646);;

    border: 2px solid var(--primary);

    box-shadow:0px 0px 20px var(--primary);
}


.line{
    border-left: 3px solid rgba(102, 102, 102, 0.309);
    height: 80px;
    position: absolute;

    top: 70px;
    left: 135px;
}

.left-info{
    word-spacing: 3px;
}

.name{
    width:50px;
    margin-right: 50px;
}

/* Footer */
footer{

    width: 100%;

    margin-top: 100px;

    display: grid;

    padding: 50px;

    align-items: center;
    justify-content: space-around;

    background-color: var(--darkblue);

    color: white;

    grid-template-columns: auto auto auto;
}

footer a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    
    
}

footer a:hover{
    text-shadow: 0px 0px 10px white;
                
}

footer h3{
    margin-bottom: 15px;
}
footer p, a{
    margin-bottom: 6px;
}
/* End Footer */
