:root{
    --primary : rgb(4,181,194);
    --secondary : rgb(82, 65, 126);

    --darkblue : rgb(7, 81, 130);
    --darkblue2 : rgba(148, 183, 206, 0.565);

    --pink : rgba(211, 32, 56, 0.863);
    --lightpink : rgb(255, 0, 55);

    --violet : #8c52ff;
    --darkviolet : #6c36d7;

    --navy : rgb(0, 65, 196);
    --blue :  rgb(19, 143, 192);

    --lightviolet : rgb(140, 109, 213);
    --lightviolet2 : rgb(170,145,226);

    --orange : #FF930F;

}




a{
    text-decoration: none;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::placeholder{
    color: rgba(203, 199, 194, 0.986);
    opacity: .7;
}

body{

    color: rgb(6, 94, 129);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}




/* Header Section */
header{
    padding: 20px;
    background-color: var(--primary);

}
nav{
    margin-left: 100px !important;
    margin-right: 90px !important;

    color: white;

    display: flex;
    padding: 10px;

    margin: auto;
    align-items: center;

    justify-content: space-between;
}
nav h1{
    font-style: italic;
    font-size: 2.3rem;
}
.icon-home{
    font-size: 3rem;
}






.dropdown-arrow{

    margin-left: 20px;
    text-align: center;

    font-size: 1.2rem;
    cursor: pointer;
    
    position: relative;
}

.menu-container:checked .dropdown-menu {
    background-color: #8c52ff;
    cursor: pointer;

    display: block;
}

.menu-container{
    display: flex;

    align-items: center;

    padding: 10px;

    position: relative;
}
.dropdown-menu{
    display: flex;

    
    position: absolute;
    top: 100px !important;
    right: -50px !important;

    font-size: 1.2rem;
    color: whitesmoke;

    background: var(--violet);


    text-align: center;
    align-items: center;
    justify-content: center;

    width: 250px;
    
    border-radius: 5px;

    display: none;

    transform-origin: top center;
    animation: translateX 300ms ease-in-out forwards;

}



@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  
  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dropdown-menu-list{
    list-style: none;

    line-height: 2rem;

    text-align: center;

    width: 100%;

}
.dropdown-menu-list li{
    padding: 12px;
    width: 100%;

    transition: all .4s ease;

    border-top: .5px solid rgba(255, 255, 255, 0);
    border-bottom: .5px solid rgba(255, 255, 255, 0.228);

}

.dropdown-menu-list li:hover{
    background-color: rgba(255, 255, 255, 0.292);
    text-shadow: 0px 0px 5px white;
    padding: 15px;

    border-top: .5px solid rgb(255, 255, 255);
    border-bottom: .5px solid rgb(255, 255, 255);

    cursor: pointer;
}

.dropbtn{

    margin-left: 20px;
}

.dropbtn:hover{

    cursor: pointer;


}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}
.signup{
    text-decoration: none !important;

    background: linear-gradient(90deg, hsla(260, 100%, 66%, 1) 0%, hsla(184, 96%, 39%, 1) 100%);
    transition: background 0.2s ease;

    background-size: 450% 450%;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.signup:hover{
    color: white;
    background-color: var(--darkviolet) !important;
    
    animation: gradientAnimation 5s infinite;

    border: 1px solid transparent !important;
    border-bottom: 1px solid white !important;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* End of header section */


/*Search Section */

  
  .search-home-section input{
  
      cursor: pointer;
  
      color: white;
  
      border: none;
  
      text-align: center;
  
      font-size: 1.5rem;
      background-color: transparent;
  
      width: 100px;
      margin: 0px;
      padding: 0px;
  
      margin-left: 20px;
  
      border-right: 2px solid rgba(255, 255, 255, 0.5);
  }
  input:focus{
      outline: none;
      
  }
  
  .passenger{
      border-right: transparent !important;
      margin-right: -10px !important;
  }
  
  .input-form{
  
      background-color: var(--darkblue);
      /*background-color: rgb(0, 82, 189);*/
      box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.575);
      text-align: center;
  
      margin: auto;
      padding: 25px;
  
      border-radius: 40px;
  
      align-items: baseline;
  
      margin-right: -80px;
      z-index: 1000;
  
      transition: all 2s ease;
  
  }
  .input-form:hover{
      
      box-shadow: 0px 0px 30px var(--lightblue);
  }
  .input-div{
  
      text-align: center;
  
      padding: 5px;
  
      margin-top: -40px !important;
      margin: auto;
      
      width: fit-content;
      
      position: sticky;
    
     
      
      display: flex;
      justify-content: center;
  }
  
  .search-button{
      box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.575);
  
      color: white;
      padding: 21px;
      padding-left: 100px;   
          
      font-size: 1.5rem;
  
      border: none;
      background-color: var(--pink);
  
      border-radius: 40px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  
      padding-right: 40px;
  
      transition: all 1s ease;
  }
  .search-button:hover{
  
      box-shadow: 0px 0px 0px;
  
      color: rgba(255, 255, 255, 0.856);
      cursor: pointer;
  
      background-color: var(--lightpink);
  }
  /*End of search section */










/* Search Result Section*/
section{
    display: flex !important;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
}


/* Left Side */
.left-side-container{
    width: fit-content;
    margin: 20px;
    padding: 20px;

}
.left-side-container h3{

    font-size: 1.8rem;
    margin-bottom: 15px;

    margin-left: -40px;
}
.sorting-radios label, .filter-checks label{
 
    margin-right: 20px;

}
.sorting-radios, .filter-checks{
    display: grid;

    grid-template-columns: auto auto;


}



.labels, .inputs{
    text-align: left;
    margin-left: -20px;
    padding: 5px;
}


input{

    margin-top: 11px;
    margin-bottom: 35px !important;
    margin-left: 10px;
    display: block;
}
.input-1{
    margin-top: 9px;
}
input:hover{
    cursor: pointer;
}





span{
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    display: flex;
    margin-left: 20px;
    width: 150px;
}

label{

    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 25px;

    display: block !important;
}
/* End left side*/




/* Right Side*/
.trip-card{
    z-index: -1;
    position: relative;

    font-weight: bold;

    border-radius: 15px;

    padding: 20px;
    margin: 35px;

    font-size: 1rem;

    border: 3px solid rgb(5, 123, 202);
    background-color: rgb(4, 81, 119);
    color: white;

    width: 400px;
    height: 185px;
}

.trip-card-top, .trip-card-bottom{
    display: flex;
}

.trip-card-bottom{

    align-items: center;
    margin-top: 23px;
    margin-left: -10px;
}




.location{

    margin-left: 10px;

}
.location p{
    margin-left: 5px;

}
.dot1, .dot2{
    width: 8px;
    height: 8px;

    position: absolute;

    background-color: rgb(224, 102, 224);

    border-radius: 20px;
}
.dot1{

    top: 28px;
    left: 57px;
}
.dot2{

    top: 84px;
    left: 57px;
}
.vline{

    border-left: 2px solid rgb(255, 255, 255);
    height: 52px;
    position: absolute;

    top: 33px;
    left: 80px;
  
}
.hours{
    margin-right: 25px;
    font-size: 0.8rem;
}
.departure{
    margin-bottom: 6px;
}
.duration{
    margin-bottom: 21px;
    opacity: .7;
}


.loc-dep{
    margin-bottom: 37.5px;

    font-size: 0.9rem;
}


.name{

    margin-left: 22px;
    margin-right: 50px;
}

.bus-icon{
    width: 50px;
    justify-content: left !important;

    background-color: #ffffff45;
    padding: 7px;

    border-radius: 100px;

}

.trip-card:focus{
    box-shadow: 0px 0px 20px var(--blue);
}


/* End right side*/



/* End SRS*/
