:root{
    --primary : rgb(4,181,194);
    --secondary : rgb(82, 65, 126);

    --darkblue : rgba(2, 63, 104, 0.889);
    --darkblue2 : rgba(148, 183, 206, 0.565);

    --pink : rgba(211, 32, 56, 0.863);
    --lightpink : rgb(255, 0, 55);

    --violet : #8c52ff;
    --darkviolet : #6c36d7;

    --navy : rgb(0, 65, 196);
    --blue :  rgb(19, 143, 192);

    --lightviolet : rgb(140, 109, 213);
    --lightviolet2 : rgb(170,145,226);

    --orange : #FF930F;

}




a{
    text-decoration: none;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::placeholder{
    color: rgb(192, 184, 184);
    opacity: .7;
}

body{

    color: rgb(6, 94, 129);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}
/* Header Section */
header{
    padding: 20px;
    background-color: var(--primary);

}
nav{
    margin-left: 100px !important;
    margin-right: 90px !important;

    color: white;

    display: flex;
    padding: 10px;

    margin: auto;
    align-items: center;

    justify-content: space-between;
}
nav h1{
    font-style: italic;
    font-size: 2.3rem;
}
.icon-home{
    font-size: 3rem;
}






.dropdown-arrow{

    margin-left: 20px;
    text-align: center;

    font-size: 1.2rem;
    cursor: pointer;
    
    position: relative;
}

.menu-container:checked .dropdown-menu {
    background-color: #8c52ff;
    cursor: pointer;

    display: block;
}

.menu-container{
    display: flex;

    align-items: center;

    padding: 10px;

    position: relative;
}
.dropdown-menu{
    display: flex;

    
    position: absolute;
    top: 100px !important;
    right: -50px !important;

    font-size: 1.2rem;
    color: whitesmoke;

    background: var(--violet);


    text-align: center;
    align-items: center;
    justify-content: center;

    width: 250px;
    
    border-radius: 5px;

    display: none;

    transform-origin: top center;
    animation: translateX 300ms ease-in-out forwards;

}



@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  
  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dropdown-menu-list{
    list-style: none;

    line-height: 2rem;

    text-align: center;

    width: 100%;

}
.dropdown-menu-list li{
    padding: 12px;
    width: 100%;

    transition: all .4s ease;

    border-top: .5px solid rgba(255, 255, 255, 0);
    border-bottom: .5px solid rgba(255, 255, 255, 0.228);

}

.dropdown-menu-list li:hover{
    background-color: rgba(255, 255, 255, 0.292);
    text-shadow: 0px 0px 5px white;
    padding: 15px;

    border-top: .5px solid rgb(255, 255, 255);
    border-bottom: .5px solid rgb(255, 255, 255);

    cursor: pointer;
}

.dropbtn{

    margin-left: 20px;
}

.dropbtn:hover{

    cursor: pointer;


}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}
.signup{
    text-decoration: none !important;

    background: linear-gradient(90deg, hsla(260, 100%, 66%, 1) 0%, hsla(184, 96%, 39%, 1) 100%);
    transition: background 0.2s ease;

    background-size: 450% 450%;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.signup:hover{
    color: white;
    background-color: var(--darkviolet) !important;
    
    animation: gradientAnimation 5s infinite;

    border: 1px solid transparent !important;
    border-bottom: 1px solid white !important;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }





/* End of header section */





/* Main section */
.hero-div{
    background: linear-gradient(#DDD6E8, #EDEAF3,#FFFFFF );
    height: 670px;
}

/*Search Section */
.search-home-section{
  width: 100%;
}
.search-home-section img{
    width: 1200px;
    margin: auto;
    display: flex;
}

.search-home-section input{

    cursor: pointer;

    color: white;

    border: none;

    text-align: center;

    font-size: 1.5rem;
    background-color: transparent;

    width: 170px;
    margin: 0px;
    padding: 0px;

    margin-left: 20px;

    border-right: 2px solid rgba(255, 255, 255, 0.5);
}
input:focus{
    outline: none;
    
}

.passenger{
    border-right: transparent !important;
    margin-right: -10px !important;
}

.input-form{

    background-color: var(--primary);
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.575);
    text-align: center;

    margin: auto;
    padding: 25px;

    border-radius: 40px;

    align-items: baseline;

    margin-right: -80px;
    z-index: 1000;

    transition: all 2s ease;

}
.input-form:hover{
    background-color: var(--primary);
    box-shadow: 0px 0px 30px var(--lightblue);
}
.input-div{

    text-align: center;

    padding: 5px;

    margin-top: -40px !important;
    margin: auto;
    
    width: fit-content;
    
    position: sticky;
  
   
    
    display: flex;
    justify-content: center;
}

.search-button{
    box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.575);

    color: white;
    padding: 21px;
    padding-left: 100px;   
        
    font-size: 1.5rem;

    border: none;
    background-color: var(--pink);

    border-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    padding-right: 40px;

    transition: all 1s ease;
}
.search-button:hover{

    box-shadow: 0px 0px 0px;

    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;

    background-color: var(--lightpink);
}
/*End of search section */




/* Review Section */
.review-home-section{

    font-weight: 400;

    display: grid;
    grid-template-columns: auto auto;
    
    padding: 20px;
    margin-top: 100px;

}

.review-home-section img{
    border-radius: 20px;
    width: 190px;

    margin: 20px;
}
.car-review{
    border-radius: 20px;

    display: flex !important;

    grid-area: 1 / 1 / 2 / 2;
    grid-row: 1 / 3;


    padding: 20px;

}
.car-review img{

    width: 320px;
    height: 300px;

}

.car-review p{
    font-size: 1.7rem;
    text-align: left;

    margin-top: 70px;
    margin-left: 25px;
    

}
.client-1{
    grid-area: 1 / 2 / 2 / 3;

    margin-top: 55px !important;
}
.client-2{
    grid-area: 2 / 2 / 3 / 3;
}


.h2{
    font-size: 1.5rem;

    margin-top: 100px;


    text-align: center;
    text-align: left !important;

    margin-left: 220px !important;
}


.client-1, .client-2, .client-3{

    margin-right: 45px !important;

    border-radius: 20px;
    font-size: 1.5rem;

    padding: 0px;
    margin: 0px;

    display: flex;

    align-items: center;

    justify-content: center;
}

/* End of review section */














/* register section */

.register-section{
    width: 100%;
    
    display: none;

}
  .register-section img{
      width: 1200px;
      margin: auto;
      display: flex;
  }
  
  
  /* Register title */
  .registration-title{
  
  
      margin: auto;
      justify-content: center;
      display: flex;
      width: 600px;
  
      margin-bottom: 60px;
      padding-top: 60px;
      padding-bottom: 20px;



      border-bottom: 2px solid var(--darkblue);


      font-size: 3rem;
  }
  /* end register title */
  
  
  
  .register-div {
  

      justify-content: center !important;
      margin: auto !important;
      margin: 20px;
  
      font-size: 2rem;
  
  }
  
  
  
  /* name, email, phone inputs*/
  input[type='radio'] {
      height: 20px;
      width: 20px;
  
      margin-right: 20px;
  
      accent-color: var(--lightviolet);
  
      transition: all 2s ease !important;
  
      cursor: pointer;
  }
  
  input[type='radio']:focus{
      color: #8c52ff;
  }
  
  .register-type-div{
  
      display: flex;
      justify-content: center;
      margin: auto;
      
      text-align: center;
      align-items: center;
  
  }
  
  .passenger-label{
      margin-right: 100px;
  }

  .register-info-div{
    margin: auto;
    justify-content: center;
    width: fit-content;
  }
  
  .register-info-div input{
      
      color: rgb(4, 120, 166);
  
      font-weight: 550;
  
      display: flex;
      justify-content: center;
      margin: auto;
      
  
      font-size: 1.7rem;
  
      border-radius: 30px;
  
   
      padding: 20px;
      width: 700px;
  
      border: 3px solid var(--primary);
  
      transition: all 0.6s ease;
  }
  
  
  #name:focus , #phone:focus, #email:focus, #gender:focus, #exp:focus{
      box-shadow: 0px 0px 20px var(--lightviolet);
      outline-style: none;
      border: 3px solid var(--lightviolet);
  
      color: rgb(170, 134, 250);
  }
  #carType:focus, #carYear:focus, #carName:focus{
    box-shadow: 0px 0px 20px var(--lightviolet);
    outline-style: none;
    border: 3px solid var(--lightviolet);

    color: rgb(170, 134, 250);
  }
  label{
      transition: all 0.2s ease-in;
   
  }
  input:checked + label{
      font-weight: bold;
      color: #8c52ff;
  }
  
  #name{
      margin-top: 45px;
  }
  

  /* end name, email, phone inputs */
  
  /* passenger data*/
  .gender:hover{
    cursor: pointer;
  }
  
  /* end passenger*/

  
  
  /*Driver data*/
  .driver-info-1, .driver-info-2{
    display: flex;
    padding: 0px;
    margin: 0px;
    
  }
  .driver-info-1 input{
    width: 340px;
    text-align: center;

  }
  .driver-info-2 input{
    width: 220px;
    text-align: center;
  }
  #carName{
    margin-right: 20px;
    margin-left: 20px;
  }
  
  /* end driver*/
  
  
  
  
  /* password input and show/hide eye */
  .password {
  
      display: flex;
      justify-content: center;
      margin: auto;
      width: 700px;
      
      padding-right: 10px;
      padding-left: 10px;
      
      border-radius: 30px;
      border: 3px solid var(--primary);
      
      margin-bottom: 50px;
  
      transition: all 0.5s ease;
  }
  .password:focus-within{
      box-shadow: 0px 0px 20px var(--lightviolet);
      border: 3px solid var(--violet);
  }
  .password input{
      border: none;
  }
  .password img{
      margin-right: 30px;
      transition: all 0.5s ease;
  }
  .password input:focus{
      outline: none;
      color: var(--lightviolet2);
  }
  
  #eyeicon{
      cursor: pointer;
      width: 30px;
      height: 30px;
      
  }
  /* end password input */
  
  #show{
    display: block;
  }
  
  
  
  /* sumbit button */
  .submit-btn{
      display: flex;
      justify-content: center;
      margin: auto;
  
      padding: 20px;
  
      width: 700px;
  
      border-radius: 25px;
      
      font-size: 1.8rem;
      font-weight: bold;
  
      background-color: var(--lightviolet);
  
      color: white;
  
      border: 3px solid transparent;
  
      transition: all 0.7s ease;
  }
  .submit-btn:hover{
  
      color: #ffffff;
  
      box-shadow: 0px 0px 40px var(--lightviolet);
  
      cursor: pointer;
  
      background-color: rgb(150, 125, 210);
  
      border: 3px solid var(--violet);
  }
  /* end submit button */

  /* Forms */
    .register-info-div{
         display: none ;

         transform-origin: top center;
        animation: translateX2 1s ease-in-out forwards;
    }

    @keyframes translateX2 {
        0% {
          opacity: 0;
          transform: translateY(60px);
        }
        
        80% {
          transform: translateY(-5px);
        }
      
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }




/* End of Main section */




/* Footer */
footer{

    width: 100%;

    margin-top: 100px;

    display: grid;

    padding: 50px;

    align-items: center;
    justify-content: space-around;

    background-color: var(--darkblue);

    color: white;

    grid-template-columns: auto auto auto;
}

footer a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    
    
}

footer a:hover{
    text-shadow: 0px 0px 10px white;
                
}

footer h3{
    margin-bottom: 15px;
}
footer p, a{
    margin-bottom: 6px;
}
/* End Footer */



@media screen and (max-width:1500px) {

    .review-home-section{
        display: block;
    }
    .car-review{
        justify-content: center;
        margin: auto;

    }
    .h2{
        text-align: center;
        margin: auto;
        justify-content: center !important;
        display: flex;

        margin-bottom: 100px;
        margin-top: 30px;
    }

}
